# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# env files (NEVER commit secrets)
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# testing outputs
/playwright-report/
/test-results/

# IDE
.vscode/
.idea/
tsconfig.tsbuildinfo
